In [29]:
import pandas as pd
import numpy as np
import os
from datetime import datetime, timedelta

In [6]:
os.getcwd()

'C:\\Users\\Zachary Brown\\Documents\\relax_challenge'

In [13]:
users = pd.read_csv("takehome_users.csv", index_col='object_id', encoding='latin-1')

In [14]:
users.head()

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
object_id,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [11]:
engagement = pd.read_csv('takehome_user_engagement.csv')

In [12]:
engagement.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [15]:
merged = engagement.join(users, on='user_id', how='inner')

In [16]:
merged.head()

,time_stamp,user_id,visited,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,2014-04-22 03:53:30,1,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2013-11-15 03:45:04,2,1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,2013-11-29 03:45:04,2,1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
3,2013-12-09 03:45:04,2,1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
4,2013-12-25 03:45:04,2,1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0

In [17]:
merged.dtypes

time_stamp                     object
user_id                         int64
visited                         int64
creation_time                  object
name                           object
email                          object
creation_source                object
last_session_creation_time    float64
opted_in_to_mailing_list        int64
enabled_for_marketing_drip      int64
org_id                          int64
invited_by_user_id            float64
dtype: object

In [18]:
merged['time_stamp'] = pd.to_datetime(merged['time_stamp'])

In [19]:
merged.dtypes

time_stamp                    datetime64[ns]
user_id                                int64
visited                                int64
creation_time                         object
name                                  object
email                                 object
creation_source                       object
last_session_creation_time           float64
opted_in_to_mailing_list               int64
enabled_for_marketing_drip             int64
org_id                                 int64
invited_by_user_id                   float64
dtype: object

In [20]:
merged['creation_time'] = pd.to_datetime(merged['creation_time'])

In [32]:
merged.set_index('time_stamp', inplace=True)

In [34]:
merged.head()

,user_id,visited,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
time_stamp,,,,,,,,,,,
2014-04-22 03:53:30,1,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
2013-11-15 03:45:04,2,1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2013-11-29 03:45:04,2,1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2013-12-09 03:45:04,2,1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2013-12-25 03:45:04,2,1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0

In [40]:
merged.index.dtypes

AttributeError: 'DatetimeIndex' object has no attribute 'dtypes'

In [48]:
merged.iloc[2]

user_id                                            2
visited                                            1
creation_time                    2013-11-15 03:45:04
name                                   Poole Matthew
email                         MatthewPoole@gustr.com
creation_source                           ORG_INVITE
last_session_creation_time              1396237504.0
opted_in_to_mailing_list                           0
enabled_for_marketing_drip                         0
org_id                                             1
invited_by_user_id                             316.0
Name: 2013-11-29 03:45:04, dtype: object

In [38]:
for person in merged['user_id'].unique():
    subset = merged[merged['user_id'] == person]
    for i in range(len(subset)):
        if any(len(subset.between_time(subset.iloc[i].index,\
                                   subset.iloc[i].index + timedelta(days=7), inclusive='both') >= 3)):
            merged['adopted_user'] == True
        else: merged['adopted_user'] == False

TypeError: unsupported operand type(s) for +: 'Timedelta' and 'str'